@media (max-width:1200px){
    body{
      background-color:#f44336 ;
    }
    .fundo-video {
        display:none;
    }
    .container {
       flex-wrap: wrap;
       justify-content: center;
       height: auto;
       gap: 30px;
       
        
    }
    .container .mario{
        max-width: 90%;
        
        
    }
    .container .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
      
    }
    .container{
        color: rgb(241, 234, 234);
        text-align: center;
    }

     .botao-trailer{
        background-color: #263238;
    }

    .informacoes{
       margin-top:30px;
    }
    .imagem_titulo{
        max-width: 65%;
    }
    .modal .fechar-modal{
        width: 30px;
        line-height: 30px;
       }
       .modal #video{
        width: 300px;
        height: 260px;
       }
   
}

@media(max-width:500px){
    .descricao{
      width: 320px;
    }
   .logo{
   width: 40px;
   }
   .modal .fechar-modal{
    width: 30px;
    line-height: 30px;
   }
   .modal #video{
    width: 300px;
    height: 169px;
   }
  
  }



@media(max-width:360px){
    .descricao{
      width: 300px;
    }
   .logo{
   width: 34px;
   }
  
   .modal #video{
    width: 250px;
    height: 140px;
   }
  
  
  }