body{
    font-family: poppins ;
}/*configuração de todo o conteudo do menu*/
.cabecalho {
   background-color: rgb(3, 96, 235);
    display:flex;
    flex-wrap: wrap;
    
    padding:20px;
   
    
}/*configuração do logo*/
 .logo{
    width:85px;
   
}
/*configuração do menu*/
.cabecalho .menu{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}



nav a{
    font-weight: bold;
    color:white;
    font-size:25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition:0.2s;
}

nav a:hover{
    background-color:#d5011d;
}
/*configuração de todo o conteudo*/
.container{
max-width: 1340px;
display: flex;
margin: 0 auto;
align-items: center;
height: calc(100vh - 132px);

}

.imagem_titulo{
    max-width: 450px;;
}

.descricao{
    color:#a8adb7;
    width: 500px;
    font-size: 18px;
    margin: 20px 0;
}
/*configuração do botão*/
.botao-trailer{
    background-color: #ff0021;
    color:#ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;

}
.mario{
    padding-bottom: 20px;
}
.botao-trailer:hover{
    transform: scale(1.1);
}
/*configuração do video de funo*/
.fundo-video{
    background-color: rgb(19, 18, 18);
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content:center;
}
.fundo-video .video{
    height: 100vh;

   
}


    /* só excluir esses seletores para tirar opacidade do video, assim ob duas versoes.*/

.fundo-video::after{
   content: "";

    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
    
}
/*configuração do video*/
.modal{
   
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;background-color: rgba(52, 52, 50,0.749);
   visibility: hidden;
}

.conteudo-modal{
  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap:15px;
}

.fechar-modal{
    background-color:#ffffff;
    color: #f03a17;
    font-weight: bold;
    font-size:20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

}

.modal iframe{
    border-width: 0;
    width: 640px;
    height:350px;
}
/*configuração para usar o javascript*/
.modal.aberto{
    opacity: 1;
    visibility: visible;
}

